.bg-silver {
    background-color: silver;
}

.bg-skyblue {
    background-color: skyblue;
}

.bg-pink {
    background-color: pink;
}

.bg-gray {
    background-color: gray;
}

.bg-aqua {
    background-color: aqua; 
}

.bg-beige {
    background-color: beige;
}

.bg-blueviolet {
    background-color: blueviolet;
}

.bg-black {
    background-color: black;
}

.bg-blanchedalmond {
    background-color: blanchedalmond;
}